<div class="container">
  
  <div class="row">
    <div class="nine columns">
      <p></p>
    </div>
    <div class="three columns">
      <button class="button-primary">Create Flight</button>
    </div>
  </div>

</div>

<div class="input-field"></div>


 <table class="u-full-width" id="planeTable">
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Date</th>
          <th>From > To</th>
          <th>Plane</th>
          <th>Seats</th>
        </tr>
      </thead>

      <tbody>
        <tr>
  
        </tr>
      </tbody> 
</table>