
<div class="container">
  
  <div class="row">
    <div class="six columns">
      <p></p>
    </div>
    <div class="six columns">
    <ul id="list-nav">
      <li><button class="button-primary">Create Flight</button></li>
    </ul>
    </div>
  </div>

</div>

<div>
  <form class="row" id="createFlightInputs">

  <div class="three columns">
    <input class="u-full-width origin" type="text" placeholder="Origin">
  </div>
  <div class="three columns">
    <input class="u-full-width destination" type="text" placeholder="Destination">
  </div>
</form>

</div>

<div class="input-field"></div>


 <table class="u-full-width" id="planeTable">
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Date</th>
          <th>From > To</th>
          <th>Plane</th>
          <th>Seats</th>
        </tr>
      </thead>

      <tbody>
        <tr>
  
        </tr>
      </tbody> 
</table>