<div class="row" id="createPlaneInputs">
  <div class="four columns">
    <input class="u-full-width" type="text" placeholder="Name">
  </div>
  <div class="four columns">
    <input class="u-full-width" type="text" placeholder="Rows">
  </div>
  <div class="four columns">
    <input class="u-full-width" type="text" placeholder="Aisles">
  </div>
</div>